
*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  display: none;
}
body {
  font-family: "Open Sans", sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background: #141414;
  border: none;
  margin: 0 0px;
}
.header .btn {
  display: inline-block;
}
.header {
  /* --color: var(--white); */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 14px;
  z-index: 4;
  transition: var(--transition-1);
  color: #e97b16;
  margin: 0 20px 0 20px;
}

.header.active {
  color: #e97b16;
  position: fixed;
  background-color: #141414;
  box-shadow: 0 2px 30px hsla(0, 0%, 0%, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: #141414;
}



.nav-open-btn {
  color: var(--color);
  font-size: 22px;
  padding: 4px;
  color: #e97b16;
}

.navbar {
  background-color: black;
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 280px;
  min-height: 100%;
  padding: 20px;
  visibility: hidden;
  z-index: 2;
  transition: 0.25s var(--cubic-in);
  color: #e97b16;
}

.navbar.active {
  transform: translateX(280px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px 30px;
  position: absolute;
  top: 0;
  width: 80%;
}

.navbar-top .logo {
  color: #e97b16;
  font-size: 10px;
  font-weight: var(--fw-700);
  
}

.nav-close-btn {
  color: #e97b16;
  font-size: 25px;
  padding: 4px;
}

.navbar-item:not(:last-child) {
  border-bottom: 1px solid var(--platinum);
}

.navbar-link {
  color: #e97b16;
  font-size: var(--fs-8);
  font-weight: var(--fw-600);
  padding-block: 12px;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_70);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
/*****************  

    Global Styles

******************/
.section1 .container_side{
  width: 35%;
  float: left;
  margin: 20% 5%;
  box-sizing: border-box;
   
  
}
.form{
  width: 50%;
  float:right;
  margin: 10% 20px;
  box-sizing: border-box;
}
input[type=email]{
  border-radius: 12px;
  background: #53525185;
  width: 80%;
  color: #000000;
  height: 40px;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 12px;
  margin: 10px;
  font-weight: 600;

}
input[type= text]:focus , input[type=email]:focus{
  height:40px ;
  padding: 5px 12px;
  color: #141414;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
input[type=text]{
  border-radius: 12px;
  background: #53525185;
  width: 80%;
  color: #000000;
  height: 40px;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 12px;
  margin: 12px 10px;
  font-weight: 600;

}
input::placeholder {
  color: #141414;
  font-weight: 500px;
}
#level{
 width: 30%;
}
#technicalSkill{
 width: 48%;
 margin-left: 0;
}
select {
  width: 80% ;
  padding: 5px 12px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 12px;
  border-radius: 12px;
  background: #53525185;
  margin: 5px 10px;
  height: 40px;
  color: #000000;
  font-weight: 600;
  border: none;
}
option[disabled], option[selected] option:first-child {
  color: #141414; /* Placeholder color */

}
option{
  background-color: #a8763c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
select:focus{
  border: none;
}
select:target{
  color: #a8763c;
  border: none;
}
textarea{
  resize: none;
  width: 80% ;
  padding: 5px 12px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 12px;
  border-radius: 12px;
  background: #53525185;
  margin: 5px 10px;
  height: 80px;
  border: none;
  font-weight: 600;
}
textarea::placeholder {
  color: #141414;
  font-weight: 500px;
}
input[type=text]{
  border-radius: 12px;
  background: #53525185;
  width: 80%;
  color: #000000;
  height: 40px;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 12px;
  margin: 12px 10px;
  font-weight: 600;

}
.checkbox-container{
  width: 80%;
  display: inline;
  
}
#terms{
  width: 25px;
  margin: 2px 10px;

}
.checkbox-label a{
  color: #e97b16;
  margin: 0 10px ;
  text-decoration: underline;
  position: relative;
  left: 30px;
  top: -35px;
}
input[type=submit]{
  border-radius: 6px;
background: #e97b16;
width: 100px;
height: 40px;
border: none;
color: #FFF;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 500;
margin-bottom: 15px;
transition: 0.3s;
margin: 1px 35%;

}
.form-title{
  margin: 7px 11px;
  font-weight: 700;
}
h3{
margin-left: 100px;
margin-top: -20px;
color: #CCA87E;
}
.about-text{
  margin-left: 100px;
  margin-top: 30px;
  font-weight: 600;
}
.other-skill {
  display: none; /* Hide the text input by default */
  margin-top: 10px;
  
}
@media (max-width:550px) {
body{
  margin: 0 0px;
}
.logo{
    width: 80px;
    height: 24p;
  }
  .header .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-inline-start: auto;
  }

  .header {
    margin-top: 0 4px;
  }
  .section1, .container_side{
    width: 90%;
    float: none;
    margin: 20% 2%;
  }
  .form{
    width: 90%;
    float: none;
    margin: 20% 2%;
  }
  h3{
  margin-left: 10px;
  margin-top: -20px;
  color: #CCA87E;
  }
  .about-text{
    margin-left: 10px;
    margin-top: 30px;
    font-weight: 600;
  }
}